<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="mainpage"></ion-back-button>
    </ion-buttons>
    <ion-title>Favourites</ion-title>
    <div slot= "end" >
      <ion-tab-button tappable routerLink="/cart">
        <!-- <ion-badge *ngIf="favourites.length > 0">{{favourites.length}} ></ion-badge>
        <ion-icon name="bag-handle-outline" routerLink="/cart"></ion-icon> -->
        
      </ion-tab-button>
      
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div   *ngFor = "let cat of items2"  >
  
    <ion-list>
      <ion-item-sliding>
       
        <ion-item  *ngFor="let product of cat.products">
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                <h4  class= "text-center">{{product.name}} - ${{product.price}}</h4>
              </ion-card-title>
            </ion-card-header>
  
            <ion-card-content>
               <img class="cards" src="{{product.image}}">
              <ion-button expand="full" (click)="addToFavourites(product)">Add to Favoruites</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-item> 
       
      </ion-item-sliding>
    
  
    </ion-list>
  </div> 

  <div >
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button >
          <ion-icon name="search-outline" routerLink="/search"></ion-icon>
          <!-- <ion-icon class="home-icon" defaultHref="/mainpage" name="home"></ion-icon> -->
          <!-- <ion-label>Search</ion-label> -->
        </ion-tab-button>

        <ion-tab-button  >
          <ion-icon class = "fav-icon" name="star" routerLink="/favourites"></ion-icon>
          <!-- <ion-label>Favourites</ion-label> -->
        </ion-tab-button>
  
        <ion-tab-button (click)="openModal()" >
          <ion-icon class = "sell-icon"  name="add-circle"></ion-icon>
          <!-- <ion-label></ion-label> -->
        </ion-tab-button>
  
        <ion-tab-button >
          <ion-icon routerLink = "/profile" name="person"></ion-icon>
          <!-- <ion-label>Profile</ion-label> -->
        </ion-tab-button>
  
        <ion-tab-button >
          <ion-icon name="log-out-outline"></ion-icon>
          <!-- <ion-label>LogOut</ion-label> -->
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
    
  </div>
  

</ion-content>
