<ion-header translucent="false">
  <ion-toolbar>
    
    <div slot= "end" >
      <ion-tab-button tappable routerLink="/cart">
        <ion-badge ></ion-badge>
        <ion-icon name="bag-handle-outline" routerLink="/cart"></ion-icon>
        
      </ion-tab-button>
      
    </div>
  </ion-toolbar>
 
 
</ion-header>

<ion-content class="ion-text-center">
  <div class="container">
    
    
  </div>


  <div >
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button >
          <ion-icon name="search-outline" routerLink="/search"></ion-icon>
          <!-- <ion-icon class="home-icon" defaultHref="/mainpage" name="home"></ion-icon> -->
          <!-- <ion-label>Search</ion-label> -->
        </ion-tab-button>

        <ion-tab-button  >
          <ion-icon class = "fav-icon" name="star" routerLink="/favourites"></ion-icon>
          <!-- <ion-label>Favourites</ion-label> -->
        </ion-tab-button>
  
        <ion-tab-button (click)="openModal()" >
          <ion-icon class = "sell-icon"  name="add-circle"></ion-icon>
          <!-- <ion-label></ion-label> -->
        </ion-tab-button>
  
        <ion-tab-button >
          <ion-icon routerLink = "/profile" name="person"></ion-icon>
          <!-- <ion-label>Profile</ion-label> -->
        </ion-tab-button>
  
        <ion-tab-button >
          <ion-icon name="log-out-outline"></ion-icon>
          <!-- <ion-label>LogOut</ion-label> -->
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
    
  </div>

</ion-content>
