<ion-header translucent="false">
  <ion-toolbar>
    <ion-buttons tappable slot="end">
      <ion-icon class = "bag-icon" name="bag-handle-outline"></ion-icon> 
    </ion-buttons>
  </ion-toolbar>
 
</ion-header>

<ion-content class="ion-text-center">
 


  <div >
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button >
          <ion-icon class="search-icon" name="search"></ion-icon>
          <ion-label>Search</ion-label>
        </ion-tab-button>

        <ion-tab-button >
          <ion-icon class = "fav-icon" name="star-outline"></ion-icon>
          <ion-label>Favourites</ion-label>
        </ion-tab-button>
  
        <ion-tab-button >
          <ion-icon class = "sell-icon" size="large" name="add-circle-outline"></ion-icon>
          <ion-label>Sell</ion-label>
        </ion-tab-button>
  
        <ion-tab-button >
          <ion-icon name="person"></ion-icon>
          <ion-label>Profile</ion-label>
        </ion-tab-button>
  
        <ion-tab-button >
          <ion-icon name="log-out-outline"></ion-icon>
          <ion-label>LogOut</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
    
  </div>

</ion-content>
