<ion-header translucent="false">
  <ion-toolbar>
    

  </ion-toolbar>
 
 
</ion-header>

<ion-content class="ion-text-center">



  <div class="mainholder">
    <div class="img">
      <img src="../../assets/img/holdsneak.jpg" alt="">
    </div>
    
  </div>
<!-- 
  <div *ngFor = "let item of data" class="ad-slides" >

    <ion-list>
      <ion-item-sliding >

   
      <ion-item *ngIf ="item.name">
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                <img class="cards" src="https://via.placeholder.com/100x100">
                
              </ion-card-title>
            </ion-card-header>
  
            <ion-card-content>
              <h4  class= "text-center">
                Shoe : {{item.ShoeName}} -- Price: GHS{{item.price}} 
 
              </h4>
            
            </ion-card-content>
          </ion-card>
      </ion-item>
  
    </ion-item-sliding >
   
  
  </ion-list>
   </div> -->

   


  <div >
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button >
          <ion-icon name="search-outline" routerLink="/search"></ion-icon>
          <!-- <ion-icon class="home-icon" defaultHref="/mainpage" name="home"></ion-icon> -->
          <!-- <ion-label>Search</ion-label> -->
        </ion-tab-button>
  
        <ion-tab-button (click)="openPage" routerLink="/advert" >
          <ion-icon class = "sell-icon"  name="add-circle"></ion-icon>
          <!-- <ion-label></ion-label> -->
        </ion-tab-button>
  
        <ion-tab-button >
          <ion-icon routerLink = "/profile" name="person"></ion-icon>
          <!-- <ion-label>Profile</ion-label> -->
        </ion-tab-button>
  
        <ion-tab-button >
          <ion-icon (click) = "logOut()" name="log-out-outline"></ion-icon>
          <!-- <ion-label>LogOut</ion-label> -->
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
    
  </div>

</ion-content>
