<ion-content class="ion-padding ion-text-center">
  <div class="welcome-header">CopDrop</div>
  <img class="logo ion-padding" src="../../assets/img/blacksneak.png" alt="">
  <div class="header ion-margin-down">Welcome ! <ion-text class="heading"></ion-text> </div>

  <ion-item>
    <ion-label style="font-family: 'Poppins', sans-serif;" position="floating">Email</ion-label>
    <ion-input [disabled]='isDisable' clearInput [(ngModel)]='email' style="font-family: 'Poppins', sans-serif;" placeholder="Enter Email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label style="font-family: 'Poppins', sans-serif;" position="floating">Password</ion-label>
    <ion-input [disabled]='isDisable' clearInput [(ngModel)]='password' type="password" style="font-family: 'Poppins', sans-serif;" placeholder="Enter Password"></ion-input>
  </ion-item>

  <ion-button type="button" class="ion-margin-top btn btn-primary" (click)="login()">Sign In</ion-button>
  
  <!-- <p class="ion-margin-top ion-padding">HomePage<strong  routerLink="/home">here</strong></p> -->

  <!-- <div class="err-message" *ngIf = 'attempts < 5 && isSuccess == false'>
    <small>{{errMessage}}, {{ attempts }} attempts remaining</small>
  </div> -->


  <p class="ion-margin-top ion-padding-top login-error" *ngIf = 'attempts > 0 && isPasswordCorrect == false'>Password Incorrect</p>
  <p class="ion-margin-top ion-padding">Need an account? Sign up <strong  routerLink="/signup">here</strong></p>
  <p class="ion-margin-top ion-padding">Temporary to home <strong  routerLink="/mainpage">here</strong></p>
</ion-content>