@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@200&display=swap');

ion-content{
    display: grid;
    font-family: 'Poppins', sans-serif;
    --background: linear-gradient(180deg, rgba(255,255,255,1) 30%, rgb(0, 119, 182) 30%);
}
ion-button {
  --background-color: rgb(3, 4, 94);
  --background-hover:#fff;
}

.logo {
    height: 300px;
}

.welcome-header {
    color: rgb(3, 4, 94);
    font-weight: bolder;
    font-size: larger;
}

.header {
    font-size: larger;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #fff;
}

.err-message {
    margin-top: 2vh;
    color: rgb(255, 255, 255) !important;
}

ion-text {
    color: #fff;
}

ion-item {
    --color: #fff;
    --background: rgba(0,0,0,0);
}

.heading {
    text-decoration: line-through;
}





p {
    color: #fff;
}

.login-error {
  font-weight: bold;
  color: red;
}
