<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="mainpage"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    

    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-icon name="person-outline"></ion-icon>
        <ion-col> <ion-input class="fn" value="First Name" disabled style="font-family: 'Poppins', sans-serif;" placeholder="First Name"></ion-input> </ion-col>
        <ion-col> <ion-input class="ln" value="Last Name" disabled style="font-family: 'Poppins', sans-serif;" placeholder="Last Name"></ion-input> </ion-col>
     
      </ion-row>

      <ion-row class="ion-align-items-center rw2">
        <ion-col> <ion-input class="em" value="Email" disabled style="font-family: 'Poppins', sans-serif;" placeholder="Email"></ion-input> </ion-col>
      </ion-row>
      
    </ion-grid>
    
    
    
  </div>
  
  <div class="adverts">

  </div>

  
  

</ion-content>
