.container{
    background-color:white;
    height:25%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    
}
.adverts{
    height:75%;
    background-color:rgb(0, 119, 182)  ;
    border-top-left-radius: -5%;
    border-top-right-radius: -5%;

}

// ion-header{
//     --background-color:rgb(0, 119, 182)  ;
// }

ion-icon{
    margin-top: 10%;
    margin-left: 5%;
    font-size: 50px;
}

ion-grid{
    margin-left: 10%;
    margin-bottom: 90%;
}

.rw2{
    margin-left: 43%;
}