@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@200&display=swap');
*{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

ion-content{
  --background:rgb(0, 119, 182);
}

ion-slide{
  margin-top: 40%;
}

.container {
    text-align: center;
  
    position:sticky;
    left: 0;
    right: 0;
    top: 70%;
    height:250px;
    
    background-color: white;
    border-top-left-radius:5%;
    border-top-right-radius:5%;
  }
  
